{% extends 'base.html' %}

{% load static %}

{% block content %}
    
    
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active">About Us !</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
            <!-- row -->
            
            {% for s in setting %}
                
                <div class="row">
                    {{ s.aboutus|safe }}
                </div>
            {% endfor %}
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}